.cevw-video-widget {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cevw-video-widget video {
    width: 100%;
    display: block;
}

.cevw-play-button {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
    background: rgba(0,0,0,0.4);
    color: #fff;

    border: none;
    cursor: pointer;
}
.cevw-play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

